name: "release-please"

on:
  push:
    branches:
      - "rc"
      - "maintenance/*"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"

jobs:
  release-please:
    runs-on: ubuntu-latest

    outputs:
      release-created: ${{ steps.release.outputs.release_created }}
      pr: ${{ steps.release.outputs['pr'] }}
      tag-name: ${{ steps.release.outputs['tag_name'] }}
      version: ${{ steps.release.outputs['version'] }}

    steps:
      - name: Run release-please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          target-branch: ${{ github.ref_name }}
          config-file: ${{ github.ref_name == 'rc'
            && '.github/release-please/config.json'
            || '.github/release-please/backport/config.json' }}
          manifest-file: ${{ github.ref_name == 'rc'
            && '.github/release-please/manifest.json'
            || '.github/release-please/backport/manifest.json' }}

      - name: Show output from release-please
        if: steps.release.outputs.release_created
        env:
          RELEASE_PLEASE_OUTPUT: ${{ toJSON(steps.release.outputs) }}
        run: echo "${RELEASE_PLEASE_OUTPUT}" | jq

  merge-to-main:
    name: Merge release back to main branch
    needs:
      - release-please
    if: github.ref_name == 'rc' && needs.release-please.outputs.release-created
    uses: ./.github/workflows/fast-forward.yml
    with:
      source: ${{ needs.release-please.outputs.tag-name }}
      target: "main"
      token: ${{ secrets.GITHUB_TOKEN }}
